.hero-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-card {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;

    background-color: rgba(48, 46, 46, 0.73);
    border-radius: 12px;
}

.hero-card img {
    width: 300px;
    height: auto;
}

.hero-card h2 {
    color: rgb(213, 187, 38);
}

.hero-card h3 {
    color: rgb(136, 39, 136);
}

.hero-card ul {
    font-size: 18px;
    margin-top: 10px;
}

.hero-card li {
    list-style: none;
}

.hero-card:hover {
    border: 2px solid gold;
    background-color: rgb(48, 46, 46);
}